<section aria-labelledby="pricing-section" id="pricing" >
    <div class="lg:px-16 max-w-7xl md:px-12 mx-auto px-8 py-24 scroll-mt-12">
      <div class="text-center max-w-3xl mx-auto">
        <h2
          class="text-4xl tracking-tight font-medium text-white md:text-5xl font-display"
        >
          Check our exclusive offers for iptv in uk
        </h2>
        <p class="text-gray-200 mt-10 lg:mx-10">As you know CheckedTV is the First iptv uk service provider on internet, and we have the best iptv subscribtion server with more than 10 Gbps connection,
            speed and unlimited bandwidth, we also, provide no freezing technology with 99% uptime.
            Place your order on our website , and instantly get your IPTV UK access.</p>
      </div>
  
      <div
        class="grid max-w-2xl grid-cols-1 py-4 mt-24 -mx-4 xl:-mx-12 sm:grid-cols-2 gap-y-10 sm:mx-auto lg:max-w-none lg:grid-cols-4 xl:gap-x-2 "
      >
        <section class="flex mx-2 flex-col px-6 rounded-3xl lg:py-8 bg-gray-50">
          <h3 class="mt-5 text-lg text-black font-display">1 Month</h3>
          
          <p
            class="order-first text-5xl font-light tracking-tight text-black font-display"
          >
          €9
          </p>
          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
          >
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Instant VIP Access</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
                Channels & Movies</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >All devices supported</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >No Hardware needed</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
                4k-UHD & 8K Quality</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Without freezing</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Netflix, Disney+,AppleTV+ Packages</span
            >
          </li>
          </ul>
          <a
            class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
            aria-label="3 Months tier"
            href="https://checked-pay.com/pay/1-mois/">Order package</a
          >
        </section>
        <section class="flex mx-2 flex-col px-6 rounded-3xl lg:py-8 bg-gray-50">
          <h3 class="mt-5 text-lg text-black font-display">3 Months</h3>
          
          <p
            class="order-first text-5xl font-light tracking-tight text-black font-display"
          >
          €21
          </p>
          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
          >
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Instant VIP Access</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
                Channels & Movies</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >All devices supported</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >No Hardware needed</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
                4k-UHD & 8K Quality</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Without freezing</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Netflix, Disney+,AppleTV+ Packages</span
            >
          </li>
          </ul>
          <a
            class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
            aria-label="3 Months tier"
            href="https://checked-pay.com/pay/3-mois/">Order package</a
          >
        </section>
        <section
          class="flex -translate-y-3 flex-col order-first px-6 py-8 rounded-3xl sm:px-8 bg-primaryColor  lg:order-none"
        >
          <h3 class="mt-5 text-lg text-white font-display">6 Months</h3>
          
          <p
            class="order-first text-5xl font-light tracking-tight text-white font-display"
          >
            $33
          </p>
          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-sm text-white gap-y-3"
          >
            <li class="flex items-center">
              <ion-icon
                class="w-4 h-4 md hydrated"
                name="checkmark-outline"
                role="img"
                aria-label="checkmark outline"></ion-icon><span class="ml-4"
                >Instant VIP Access</span
              >
            </li>
            <li class="flex items-center">
              <ion-icon
                class="w-4 h-4 md hydrated"
                name="checkmark-outline"
                role="img"
                aria-label="checkmark outline"></ion-icon><span class="ml-4">
                  Channels & Movies</span
              >
            </li>
            <li class="flex items-center">
              <ion-icon
                class="w-4 h-4 md hydrated"
                name="checkmark-outline"
                role="img"
                aria-label="checkmark outline"></ion-icon><span class="ml-4"
                >All devices supported</span
              >
            </li>
            <li class="flex items-center">
              <ion-icon
                class="w-4 h-4 md hydrated"
                name="checkmark-outline"
                role="img"
                aria-label="checkmark outline"></ion-icon><span class="ml-4"
                >No Hardware needed</span
              >
            </li>
            <li class="flex items-center">
              <ion-icon
                class="w-4 h-4 md hydrated"
                name="checkmark-outline"
                role="img"
                aria-label="checkmark outline"></ion-icon><span class="ml-4">
                  4k-UHD & 8K Quality</span
              >
            </li>
            <li class="flex items-center">
              <ion-icon
                class="w-4 h-4 md hydrated"
                name="checkmark-outline"
                role="img"
                aria-label="checkmark outline"></ion-icon><span class="ml-4"
                >Without freezing</span
              >
            </li>
            <li class="flex items-center">
              <ion-icon
                class="w-4 h-4 md hydrated"
                name="checkmark-outline"
                role="img"
                aria-label="checkmark outline"></ion-icon><span class="ml-4"
                >Netflix, Disney+,AppleTV+ Packages</span
              >
            </li>
          </ul>
          <a
            class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border-2 border-white hover:bg-transparent hover:border-white rounded-xl hover:text-white focus:outline-none"
            aria-label="6 Months tier"
            href="https://checked-pay.com/pay/6-mois/">Order package</a
          >
        </section>
        <section class="flex mx-2 flex-col px-6 rounded-3xl lg:py-8 bg-gray-50">
          <h3 class="mt-5 text-lg text-black font-display">12 Months</h3>
          
          <p
            class="order-first text-5xl font-light tracking-tight text-black font-display"
          >
          €49
          </p>
          <ul
            role="list"
            class="flex flex-col order-last mt-10 text-sm text-gray-600 gap-y-3"
          >
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Instant VIP Access</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
                Channels & Movies</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >All devices supported</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >No Hardware needed</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4">
                4k-UHD & 8K Quality</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Without freezing</span
            >
          </li>
          <li class="flex items-center">
            <ion-icon
              class="w-4 h-4 md hydrated"
              name="checkmark-outline"
              role="img"
              aria-label="checkmark outline"></ion-icon><span class="ml-4"
              >Netflix, Disney+,AppleTV+ Packages</span
            >
          </li>
          </ul>
          <a
            class="inline-flex items-center justify-center w-full px-6 py-3 h-12 mt-8 text-center text-black transition duration-200 ease-in-out transform bg-white border hover:bg-gray-200 hover:border-gray-200 rounded-xl focus:outline-none border-gray-200"
            aria-label="12 Months tier"
            href="https://checked-pay.com/pay/1-year/">Order package</a
          >
        </section>
  </section>
  